.list{
  list-style: none;
  position: relative;
}
.item{
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 5px;
  text-align: center;

}
.item:nth-child(1){
    background-color: rgb(233, 116, 155);

}
.item:nth-child(2){
    background-color: rgb(111, 111, 155);
    left: 90px;
    top: 60px;
    z-index: 1;
}
.item:nth-child(3){
    background-color: green;
    left: 150px;
    top: 120px;

}
